.footer-container {
  padding: 2.5rem 4rem 0;
  margin-top: 2rem;
  background-color: #202126;
  color: hsl(0, 0%, 95%);
}

.footer-container img {
  display: block;
  height: 85px;
  margin: 0 0 2.5rem;
}

.footer-container hr {
  height: 1px;
  border: none;
  background-color: hsl(0, 0%, 95%);
}

.footer-container a {
  text-decoration: none;
  color: hsl(0, 0%, 95%);
}

.footer-container a:hover {
  text-decoration: underline;
}

.footer-link-container {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 2em;
}

.footer-link-container h2 {
  font-size: 20px;
}

.footer-link-container a {
  line-height: 2em;
}

.footer-org-column,
.footer-connect-column {
  display: flex;
  flex-flow: column nowrap;
  margin-right: 8em;
}

.footer-connect-links {
  display: grid;
  grid-template-rows: repeat(4, 2em);
  grid-column-gap: 4em;
  grid-auto-flow: column;
}

.footer-mailing-list-column {
  width: 60%;
}

.footer-mailing-list-input-container {
  display: flex;
  align-items: center;
  width: 100%;
}

.footer-mailing-list-input-container input {
  width: 50%;
  margin-right: 2rem;
  padding: 0.35rem;
  border-style: none;
  border-radius: 4px;
}

.footer-mailing-list-input-container a {
  padding: 0.1rem 1rem;
  border-style: none;
  border-radius: 8px;
  background-color: hsl(240, 7%, 24%);
}

.footer-mailing-list-input-container a:hover {
  text-decoration: none;
  background-color: hsl(240, 7%, 20%);
}

.footer-copyright-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-copyright-container p {
  text-align: center;
  font-size: 16px;
}

.footer-copyright-container > * {
  flex: 1;
}
