.navbar-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 1.5rem 0;
  padding: 1rem 2rem;
}

.navbar-container a {
  text-decoration: none;
}

.navbar-logo-container {
  margin: 0;
  padding: 0.5rem;
  border-radius: 15px;
}

.navbar-logo-link {
  color: black;
  text-decoration: none;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin: 0;
}

.navbar-logo {
  width: 40px;
  margin: 0 0.75rem 0 0;
}

.navbar-logo-text {
  margin: 0;
  font-size: 20px;
}

.navbar-link-container a {
  margin: 0 0.5rem;
  color: black;
}

.navbar-link {
  display: inline;
  font-size: 20px; 
}

.navbar-container .navbar-link:hover {
  text-decoration: underline;
}